@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
.signup-form {
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  margin-right: 30vw;
  margin-left: 30vw;
  justify-content: center;
}
h3.sign-up {
  font-size: 45px;
  color: #003049;
  text-align: center;
  padding-top: 5vh;
}
.invalid-on-signup {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #d62828;
  text-shadow: 1px 1px 1px black;
}
.signup {
  background-image: url("https://i.imgur.com/QFLHCRv.jpg");
  background-size: cover;
}
.signup-input {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 15px;
  border: none;
  margin: 10px;
  border-radius: 10px;
}
.signup-input::placeholder {
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.7px;
}
.email-taken{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.email-taken p {
  margin: 10px;
}
.loading-spinner{
  align-self: center;
}
.return-signin {
  margin-bottom: 20px;
  color: #014366;
}
.return-signin:hover {
  color: white;
}
.signup-btn {
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.7px;
  padding: 7px;
  margin-top: 10px;
  margin-left: 5vw;
  margin-bottom: 100px;
  background-color: #003049;
  color: white;
  font-size: 25px;
  border-radius: 20px;
  width: 30vw;
  border: none;
  margin-bottom: 35vh; /*this makes the image extend down the page  */
  box-shadow: 2px 4px 6px #011827;
}
.signup-btn:hover {
  background-color: #014366;
  cursor: pointer;
}
.signup-btn:focus {
  outline: none;
  box-shadow: 2px 4px 4px #001c2ccc;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #003049;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #003049;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #003049;
}
@media only screen and (max-width: 1000px) {
  .signup {
    background-position: right;
  }
}
@media only screen and (max-width: 600px) {
  .signup-form {
    font-size: 15px;
  }
  .signup h3 {
    font-size: 30px;
  }
  .signup-input {
    font-size: 18px;
  }
  .signup-input::placeholder {
    font-size: 18px;
  }
  .signup-btn {
    font-size: 20px;
  }
  .invalid-on-signup {
    font-size: 20px;
  }
  .signup {
    background-position: right;
  }
}
@media only screen and (max-width: 400px) {
  .signup h3 {
    font-size: 25px;
  }
}