.signup-form {
  display: flex;
  flex-direction: column;
  margin-right: 30vw;
  margin-left: 30vw;
  justify-content: center;
}
h3 {
  font-size: 30px;
  color: #003049;
  text-align: center;
}
.signup {
  background-image: url("https://i.imgur.com/QFLHCRv.jpg");
  background-size: cover;
}
.signin-input {
  padding: 15px;
  border: none;
  margin: 10px;
  border-radius: 10px;
}
.signup-btn {
  padding: 7px;
  margin-top: 10px;
  margin-left: 5vw;
  margin-bottom: 100px;
  background-color: #003049;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  width: 30vw;
}
.signup-btn:hover {
  background-color: #013957;
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #003049;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #003049;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #003049;
}
