proper: .car a {
  text-decoration: none;
  border: none;
  color: white;
  font-size: 20px;
}

.car a:visited {
  text-decoration: none;
  color: white;
}

.car a:hover {
  text-decoration: none;
  color: #fcbf49;
}

.car {
  display: flex;
  flex-direction: row;
  margin: 10vh;
  justify-content: left;
}

.container-all {
  display: flex;
  flex-direction: row;
}

.container-image-and-data {
  display: flex;
  flex-direction: row;
  margin-bottom: 8vh;
}

.container-image {
  display: flex;
  width: 700px;
  height: 400px;
  margin-right: -150px;
  object-fit: cover;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.774);
  z-index: 2;
}
.car-image {
  display: flex;
  width: 700px;
  height: 400px;
  margin-right: -200px;
  object-fit: cover;
}

.container-data {
  width: 50vh;
  font-size: 18px;
  margin-top: -50px;
  margin-bottom: -50px;
  overflow: scroll;
  scrollbar-width: none;
  background-color: rgb(255, 146, 14);
}

.car-title,
.car-description,
.car-price {
  display: flex;
  flex-direction: row;
  margin-left: 15vh;
}

.car-title {
  margin-top: 5vh;
}

.car-description {
  margin-top: 2vh;
  margin-left: 17vh;
}

.car-price {
  margin-top: 5vh;
}
