.car a {
  text-decoration: none;
  border: none;
  color: white;
  font-size: 20px;
}
.car a:visited {
  text-decoration: none;
  color: white;
}
.car a:hover {
  text-decoration: none;
  color: #fcbf49;
}
.car {
  display: flex;
  flex-direction: row;
  margin: 5vh;
  justify-content: center;
}
.car-image {
  display: flex;
  height: 45vh;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.774);
  z-index: 2;
  margin-bottom: 30vh;
  margin-top: 12.5vh;
  grid-column: 2 / span 6;
  grid-row: 1;
  z-index: 1;
}
.details-fp {
  justify-content: right;
  order: 1;
}
.car-details-fp {
  display: flex;
  padding: 2vw;
  white-space: normal;
  width: 50vw;
  background-color: #f77f00;
  color: white;
  height: 50vh;
  margin-top: 10vh;
  grid-column: 5 / span 7;
  grid-row: 1;
}
.hidden {
  width: 20vw;
  order: 0;
}
.car-make {
  font-size: 30px;
}
.car-description {
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
  overflow: scroll;
  margin: 10px;
  padding: 10px;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
.car-year {
  font-size: 18px;
}
.car-model {
  font-size: 20px;
}
.car-price {
  font-size: 18px;
}
.veiw-more {
  font-size: 18px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.car-vin {
  display: none;
}
.car-zipcode {
  display: none;
}
.car-doors {
  display: none;
}
.car-interior-color {
  display: none;
}
.car-exterior-color {
  display: none;
}
.car-transmission {
  display: none;
}
.car-mileage {
  display: none;
}
.car-engine {
  display: none;
}
