@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

.sort-container {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding-top: 10px;
}

.sort {
  width: 30vw;
  height: auto;
  font-size: 14px;
  border: 1px solid rgb(255, 147, 14);
  border-radius: 25px;
  outline: none;
  align-content: left;
  font-family: "Open Sans Condensed", sans-serif;
}

.option {
  background-color: white;
}
