footer {
  display: flex;
  flex-direction: column;
  background-color: #003049;
  color: white;
  justify-content: space-between;
  clear: both;
  margin-top: auto;
  bottom: 0;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.footer-logo {
  font-family: "Akaya Telivigala", cursive;
  font-size: 30px;
  color: white;
  text-decoration: none;
  background-color: #003049;
  align-self: center;
}

.created-by {
  align-self: center;
  padding-top: 40px;
  padding-bottom: 10px;
  color:white;
}
.created-by a:visited{
  color: white;
}
.created-by a:hover{
  color: #d62828;
}
/* 
.footer-login-link {
  color: white;
  align-self: flex-end;
} */
