.create-form {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 100vw;
  margin: 20px;
}
.top {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.left-details,
.right-details {
  width: 35vw;
  display: flex;
  flex-flow: row wrap;
}
.left-details > input {
  width: 50px;
}

.bottom-details {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.create-button,
.photo-button {
  width: 80px;
  height: auto;
}
.preview-images {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  width: 100%;
}
.preview-image {
  width: 100px;
  height: auto;
}
