@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

.create-form {
  display: flex;
  /* min-height: 80vh; */
  flex-flow: column nowrap;
  box-sizing: border-box;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px;
  margin: 30px;
  background-color: #f77f00;
}
.top {
  box-sizing: border-box;
  /* width: 100%; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 12px;
}
.left-details,
.right-details {
  box-sizing: border-box;
  width: 40vw;
  /* height: 40vh; */
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-between; */
  align-items: center;
}
input {
  outline: none;
  font-family: "Open Sans Condensed", sans-serif;
}

.left-details input,
.right-details input {
  width: 36vw;
  height: 30px;
  border-radius: 10px;
  outline: none;
  box-shadow: #8184848c 2px 2px 3px;
  padding: 5px;
  padding-left: 10px;
}
.left-details label,
.right-details label {
  color: #f77f00;
  font-size: 10px;
}
.label-input label {
  font-size: 18px;
}

.bottom-details {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.bottom-details label {
  color: #f77f00;
}

.bottom-details > textarea {
  resize: vertical;
  width: 76vw;
  font-family: "Open Sans Condensed", sans-serif;
  outline: none;
  border-radius: 10px;
  outline: none;
  box-shadow: #3233338c 2px 2px 3px;
  padding: 5px;
}
.bottom-details input {
  width: 35vw;
  height: 30px;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  box-shadow: #3233338c 2px 2px 3px;
}

.create-button,
.photo-button {
  padding: 10px 35px;
  text-align: center;
  color: white;
  background-color: #ffb81f;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 20px;
}
.create-button:disabled {
  background-color: #ffb81fd6;
}
.photo-container {
  display: flex;
  flex-flow: column nowrap;
}

.form-delete-button {
  padding: 10px 35px;
  text-align: center;
  color: white;
  background-color: #ffb81f;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 20px;
}

.preview-images {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin-top: 20px;
  justify-content: center;
}
.photo-container {
  margin: 10px;
}
.photo-button {
  margin-left: 10px;
}
.photo-button:hover, .create-button:hover, .form-delete-button:hover {
  background-color: #ffb81fd6;
}
.preview-image {
  height: 100px;
  width: auto;

  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .top {
    box-sizing: border-box;
    /* width: 100%; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 12px;
  }
  .left-details input,
  .right-details input {
    width: 76vw;
    height: 30px;
  }
  .image-input-button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}
