@import "react-slideshow-image/dist/styles.css";

.home {
  color: #003049;
}

button.nav.default-nav {
  border-width: 3px 3px 3px 3px;
  display: inline-block;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0);
}
button.nav.default-nav:hover {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0);
}


.last-of-type {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: none;
}

.first-of-type {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  background-color: none;
}

.each-slide > div,
.slide-background > div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  min-width: 100vw;
}
.login-link-body {
  text-decoration: none;
  background-color: #d62828;
  color: white;
  width: auto;
  padding: 10px;
  font-size: 24px;
  border-radius: 15px;
  border: none;
  outline: none;
  margin-bottom: 25px;
}

.login-link-body:hover {
  background-color: #f77f00;
}

.home-header {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
  margin-bottom: 0px;
}

.about-us {
  background: #003049;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding: 0px;
  font-size: larger;
}

.about-us-header {
  background: #003049;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  padding: 0px;
}

.about-us-blurb {
  width: 50vw;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  font-size: larger;
}
.blog-post {
  display: flex;
  justify-content: center;
}

.blog-credit:hover {
  color: #d62828;
}

.blog-credit {
  font-size: 12px;
  color: gray;
  align-self: right;
}

@media only screen and (max-width: 900px) {

  .blog-title{
  width: 90vw;
}
.about-us-blurb{
  width: 90vw;
}
.blog-post{
  width: 90vw;
}
li{
  width: 90vw;
}
.each-slide > div,
.slide-background > div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
  min-width: 100vw;
}
/* mobile display hide the slider --comment out all below if you want slider to work */
.each-slide > div,
.slide-background > div {
  display: none;
}
.react-slideshow-container{
  display: none;
}
/* static image option for mobile */
.mobile-img{
  background-image: url('https://i.imgur.com/qeTwVVm.jpg');
  background-position: center;
  background-size: cover;
  height: 30vh;
}
}
@media only screen and (max-width: 500px) {

  .blog-title{
  width: 80vw;
  font-size: 20px;
}
.about-us-blurb{
  width: 80vw;
  font-size: 18px;
}
.blog-post{
  width: 80vw;
  font-size: 18px;
}
li{
  width: 80vw;
  font-size: 18px;
}
li p{
  width: 80vw;
  font-size: 15px;
}
.login-link-body {
  padding: 10px;
  font-size: 20px;
}
.each-slide > div,
.slide-background > div {
  display: none;
 background-size: cover;
  background-position: center;
  height: 30vh;
  min-width: 100vw; 
}
/* mobile display hide the slider --comment out all below to let slider work */
.each-slide > div,
.slide-background > div {
  display: none;
}
.react-slideshow-container{
  display: none;
}
/* static image option for mobile */
.mobile-img{
  background-image: url('https://i.imgur.com/qeTwVVm.jpg');
  background-position: center;
  background-size: cover;
  height: 25vh;
}
}