@import "react-slideshow-image/dist/styles.css";

.home {
  color: #003049;
}

button.nav.default-nav {
  border-width: 3px 3px 3px 3px;
  display: inline-block;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0);
}
button.nav.default-nav:hover {
  /* border: solid white; */
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  background-color: rgba(0, 0, 0, 0);
}

.last-of-type {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: none;
  /* color: white; */
}

.first-of-type {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  background-color: none;
}

.each-slide > div {
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}
.home-header {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-blurb {
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 100px;
}

/* changes */
