.search-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
}

.search-input {
  width: 30vw;
  font-size: 18px;
  padding: 12px 20px 12px 40px;
  border: 1px solid rgb(255, 147, 14);
  border-radius: 25px;
  outline: none;
}

.search-input::placeholder {
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 900px) {
  .search-input {
    font-size: 18px;
    width: 40vw;
    padding: 10px 18px 10px 30px;
  }
}
@media only screen and (max-width: 500px) {
  .search-input {
    font-size: 15px;
    width: 30vw;
    padding: 8px 18px 8px 30px;
  }
}
