nav {
  width: 100%;
}
.icon {
  height: 60px;
}
.nav {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0px 20px;
  border-bottom: 3px solid #003049;
}

.logo {
  font-family: "Akaya Telivigala", cursive;
  font-size: 50px;
  color: #003049;
  text-decoration: none;
}

.login-link {
  font-family: "Open Sans Condensed", sans-serif;
  text-decoration: none;
  background-color: #d62828;
  color: white;
  width: auto;
  padding: 10px;
  font-size: 24px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.login-link:hover {
  background-color: #f77f00;
}

.cars-link,
.signout-link {
  color: #003049;
  display: inline;
  font-size: 24px;
}
a {
  text-decoration: none;
}

.right-side,
.inside-div {
  display: flex;
  height: 80px;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
}
.signout-link {
  background-color: #d62828;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
  border: none;
  outline: none;
}
.left-side {
  display: flex;
  align-items: center;

  width: 400px;
  height: 80px;
}

@media only screen and (max-width: 768px) {
  .right-side {
    display: flex;
    flex-flow: column nowrap;
    background-color: #003049;
    position: fixed;
    /* transform: ${({open}) => open ? 'translateX(0)' : 'translateX(100%)'}; */
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    padding-top: 50px;
    z-index: 4;
    transition: transform 0.3s ease-in-out;
    
    /* display: none; */
    
  }
  
  #open{
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

  }
  .cars-link,
  .login-link {
    color: white;
  }
  .inside-div {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 500px) {
  .icon {
    height: 45px;
  }
  .logo {
    font-size: 25px;
  }
  .cars-link,
  .signout-link {
    font-size: 18px;
  }
  .login-link {
    padding: 5px;
    font-size: 18px;
  }
  .signout-link {
    border-radius: 5px;
  }
}
